<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.itchen.mapper.com.ComUniqueKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.itchen.domain.com.ComUniqueKey">
        <id column="id" property="id" />
        <result column="unique_type" property="uniqueType" />
        <result column="unique_value" property="uniqueValue" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, unique_type, unique_value, create_time, modify_time
    </sql>

</mapper>
